<nav class="indigo darken-3">
  <div class="nav-wrapper">

    <a href="#!" class="brand-logo"></a>

    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/game/list" >Games</a></li>
      <!--<li><a href="">Subcription</a></li> -->
      <li><a routerLink="/statistic/global">Statistics</a></li>
      <!-- <li><a routerLink="/user/login">Login</a></li>-->
      <li><a [id]="'btn-sidenav-profile'">Profile</a></li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>

<mz-sidenav [id]="'sidenav-profile'" [collapseButtonId]="'btn-sidenav-profile'" [backgroundClass]="'header-side'">

  <mz-sidenav-header>
    <div class="user-view right-align">
      <img class="circle avatar" src="../assets/images/avatar.png" />
      <div class="white-text email">someone@email.com</div>
    </div>
  </mz-sidenav-header>

  <mz-sidenav-subheader>Plan Detail</mz-sidenav-subheader>


  <mz-sidenav-subheader>User Data</mz-sidenav-subheader>

  <mz-sidenav-link>
      <a  routerLink="/user/profile">Profile</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a  href="">History</a>
  </mz-sidenav-link>

  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-sidenav-link>
    <a routerLink="/"></a>
  </mz-sidenav-link>

  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-sidenav-link>
    <a href="#" class="waves-effect" (click)="signOut()">LogOut</a>
  </mz-sidenav-link>

</mz-sidenav>


<footer class="page-footer indigo darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
