<div class="container">
  <div class="row">
    <div class="col m6 l6">
      <h3>Input Filter</h3>
      <mz-input-container>
          <input mz-input
          [label]="'Number of Odds'"
          [validate]="true"
          [dataError]=""
          [dataSuccess]=""
          value={{generatedSet.oddsNumbers}}
          id="odds-numbers"
          max="9"
          min="0"
          type="number">
      </mz-input-container>
      <mz-input-container>
        <input mz-input
        [label]="'Numbers below 15'"
        [validate]="true"
        [dataError]=""
        [dataSuccess]=""
        value={{generatedSet.oddsNumbers}}
        id="below-fifteen-numbers"
        max="9"
        min="0"
        type="number">
    </mz-input-container>
    <mz-input-container>
        <input mz-input
        [label]="'Numbers between 15 and 30'"
        [validate]="true"
        [dataError]=""
        [dataSuccess]=""
        value={{generatedSet.oddsNumbers}}
        id="between-fifteen-thirty"
        max="9"
        min="0"
        type="number">
    </mz-input-container>
    <mz-input-container>
        <input mz-input
        [label]="'Numbers above 30'"
        [validate]="true"
        [dataError]=""
        [dataSuccess]=""
        value={{generatedSet.oddsNumbers}}
        id="above-thirty"
        max="9"
        min="0"
        type="number">
    </mz-input-container>
    <mz-input-container>
        <input mz-input
        [label]="'Score range'"
        [validate]="true"
        [dataError]=""
        [dataSuccess]=""
        value={{generatedSet.oddsNumbers}}
        id="score-range"
        min="0"
        max="50"
        type="range"
        multiple>
    </mz-input-container>
    
    <mz-input-container>
        <input mz-input
        [label]="'Number of previous repeat'"
        [validate]="true"
        [dataError]=""
        [dataSuccess]=""
        value={{generatedSet.oddsNumbers}}
        id="previous-repeat"
        max="9"
        min="0"
        type="number">
    </mz-input-container>
    <mz-input-container>
        <input mz-input
        [label]="'Numbers to include'"
        [validate]="true"
        [dataError]=""
        [dataSuccess]=""
        value={{generatedSet.oddsNumbers}}
        id="numbers-include"
        max="9"
        min="0"
        type="number">
    </mz-input-container>
    <mz-input-container>
        <input mz-input
        [label]="'Numbers to exclude'"
        [validate]="true"
        [dataError]=""
        [dataSuccess]=""
        value={{generatedSet.oddsNumbers}}
        id="numbers-exclude"
        max="9"
        min="0"
        type="number">
    </mz-input-container>
    <button mz-button>
        Generate
      </button>
    </div>
    <div class="col m6 l6">
        <h3>Generated Numbers</h3>
        <table class="bordered">
            <tbody>
              <tr>
                <td>1</td>
                <td>9</td>
                <td>17</td>
                <td>6</td>
                <td>2</td>
                <td>34</td>
                <td>32</td>
              </tr>
              <tr>
                <td>1</td>
                <td>9</td>
                <td>17</td>
                <td>6</td>
                <td>2</td>
                <td>34</td>
                <td>32</td>
              </tr>
              <tr>
                <td>1</td>
                <td>9</td>
                <td>17</td>
                <td>6</td>
                <td>2</td>
                <td>34</td>
                <td>32</td>
              </tr>
            </tbody>
          </table>

    </div>

  </div>
</div>
