<div class="container">

  <div class="row">

    <div class="col m6 l6">
      <h3>Numbers Filter</h3>

      <mz-checkbox-container>

        <input mz-checkbox
        [label]="'Odds flag'"
        value={{generatedSet.oddsFlag}}
        id="odds-flag"
        type="checkbox">
      </mz-checkbox-container>

      <mz-input-container>
          <input mz-input
          [label]="'Odds numbers'"
          [validate]="true"
          [dataError]=""
          [dataSuccess]=""
          value={{generatedSet.oddsNumbers}}
          id="odds-numbers"
          length="150"
          type="text">
      </mz-input-container>

      <mz-input-container>
          <input mz-input
          [label]="'Timing'"
          [validate]="true"
          [dataError]=""
          [dataSuccess]=""
          value={{generatedSet.timing}}
          id="timing"
          length="150"
          type="text">
      </mz-input-container>

      <mz-checkbox-container>
          <input mz-checkbox
          [label]="'B20 flag'"
          value="{{generatedSet.b20Flag}}"
          id="flag-for-b20"
          type="checkbox">
      </mz-checkbox-container>

      <mz-input-container>
          <input mz-input
          [label]="'B20 numbers'"
          [validate]="true"
          [dataError]=""
          [dataSuccess]=""
          value="{{generatedSet.b20Numbers}}"
          id="nb-of-b20"
          length="150"
          type="text">
      </mz-input-container>

      <mz-checkbox-container>
          <input mz-checkbox
          [label]="'Flag for score'"
          id="flag-for-score"
          type="checkbox">
      </mz-checkbox-container>

      <mz-input-container>
          <input mz-input
          [label]="'Score range top'"
          [validate]="true"
          [dataError]=""
          [dataSuccess]=""
          id="score-range-top"
          length="150"
          type="text">
      </mz-input-container>

      <mz-input-container>
          <input mz-input
          [label]="'Score range bottom'"
          [validate]="true"
          [dataError]=""
          [dataSuccess]=""
          id="score-range-bottom"
          length="150"
          type="text">
      </mz-input-container>

      <mz-input-container>
          <input mz-input
          [label]="'Set score'"
          [validate]="true"
          [dataError]=""
          [dataSuccess]=""
          id="set-score"
          length="150"
          type="text">
      </mz-input-container>

      <mz-checkbox-container>
          <input mz-checkbox
          [label]="'Flag for score'"
          id="flag-for-score"
          type="checkbox">
      </mz-checkbox-container>

      <mz-input-container>
          <input mz-input
          [label]="'Score range top'"
          [validate]="true"
          [dataError]=""
          [dataSuccess]=""
          id="score-range-top"
          length="150"
          type="text">
      </mz-input-container>

      <mz-checkbox-container>
          <input mz-checkbox
          [label]="'Flag for prev rep'"
          id="flag-for-prev-rep"
          type="checkbox">
      </mz-checkbox-container>

      <mz-input-container>
          <input mz-input
          [label]="'Prev rep nb'"
          [validate]="true"
          [dataError]=""
          [dataSuccess]=""
          id="prev-rep-nb"
          length="150"
          type="text">
      </mz-input-container>

      <mz-input-container>
          <input mz-input
          [label]="'Number to Inc'"
          [validate]="true"
          [dataError]=""
          [dataSuccess]=""
          id="prev-rep-nb"
          length="150"
          type="text">
      </mz-input-container>

      <mz-checkbox-container>
        <input mz-checkbox
        [label]="'Failed flag'"
        id="failed-flag"
        type="checkbox">
      </mz-checkbox-container>
    </div>
    <div class="col m6 l6">



    </div>

  </div>
</div>
